*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo',sans-serif;
}
body{
  min-height: 100%;
  max-width: 100vw;
  
}
.Main{
  background: linear-gradient(45deg, rgb(241, 241, 241) 50%, rgb(158, 232, 255) 50%);
}
.darkMain{
  color: aliceblue;
  background: linear-gradient(45deg, rgb(92, 88, 88) 50%, rgba(0, 0, 0, 0.932) 50%);
}